body {
  text-align: center;
  background: #ffeb3b;
  color: #000;
  font-family: Boon, sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.5;
}

h1 {
  font-weight: 400;
  font-size: 45px;
  line-height: 1.5em;
  margin: 40px 0px 20px;
}

#clockdiv {
  color: #000;
  display: inline-block;
  text-align: center;
}

#clockdiv>div {
  padding: 10px;
  margin: 4px 2px;
  border-radius: 3px;
  background: #fdd835;
  display: inline-block;
}

#clockdiv div>span {
  padding: 8px;
  border-radius: 3px;
  background: #fff176;
  display: inline-block;
  font-size: 54px;
  line-height: 1.5em;
  width: 60px;
  font-weight: 400;
}

.smalltext {
  padding-top: 5px;
  font-size: 14px;
  line-height: 1.5em;
}

#credits {
  width: 50%;
  margin: 40px auto;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 1.5em;
}

a {
  color: #9c27b0;
  text-decoration: none;
}

iframe {
  display: none;
}

.pyro {
  opacity: 0;
}